<!DOCTYPE html>

<html>
    <header>
        <title> My Website </title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link rel="stylesheet" href="../styles/style.css">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </header>
    <body class="layout1">
        <h1 class="index"> {% block heading %} {% endblock heading%}</h1>

        {% block body %}

        {% endblock body %}

    </body>
</html>